* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ca-ro.ca-more.dix -text
/apertium-ca-ro.ca-ro.dix -text
/apertium-ca-ro.ca-ro.t1x -text
/apertium-ca-ro.ca.dix -text
/apertium-ca-ro.post-ca.dix -text
/apertium-ca-ro.post-ro.dix -text
/apertium-ca-ro.ro-ca.t1x -text
/apertium-ca-ro.ro.dix -text
/apertium-ca-ro.ro.tsx -text
/apertium-ca-ro.translit.dix -text
/autogen.sh -text
/ca-ro.prob -text svneol=unset#unset
/configure.ac -text
/modes.xml -text
/more-entries-es-ro.xml -text
/ro-ca.prob -text
