* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ca-ro.ca-more.dix -text
/apertium-ca-ro.ca-ro.dix -text
/apertium-ca-ro.ca.dix -text
/apertium-ca-ro.ro.dix -text
/apertium-ca-ro.trules-ca-ro.xml -text
/apertium-ca-ro.trules-ro-ca.xml -text
/autogen.sh -text
/ca-ro.prob -text svneol=unset#unset
/configure.ac -text
/modes.xml -text
/ro-ca.prob -text
