/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.deps
/config.in~
/config.in
/config
/*.prob
/dev/testvoc/testvoc.ron-cat.txt
/dev/testvoc/testvoc.cat-ron.txt
/dev/testvoc/testvoc.ron-missing.txt
/dev/testvoc/testvoc.cat-missing.txt
